@{
    ViewData["Title"] = "3S IT Training and Business Solution";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="keywords">
    <meta content="" name="description">
    <environment include="Staging,Production">
        <!--<strong>HostingEnvironment.EnvironmentName is not Development</strong>-->
        <!-- Favicons -->
        <link href="~/img/LogoIcon48X48.jpg" rel="icon">
        <link href="~/img/LogoIcon48X48.jpg" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/lib/animate/animate.min.css" rel="stylesheet">
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="~/css/style.css" rel="stylesheet">
    </environment>
    <environment include="Development">
        <!--<strong>HostingEnvironment.EnvironmentName is not Development</strong>-->
        <!-- Favicons -->
        <link href="~/img/LogoIcon48X48.jpg" rel="icon">
        <link href="~/img/LogoIcon48X48.jpg" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/lib/animate/animate.min.css" rel="stylesheet">
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="css/style.css" rel="stylesheet">
    </environment>
    <!-- =======================================================
      Theme Name: NewBiz
      Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->

                <a href="#intro" class="scrollto"> <h6 class="text-dark"><img src="~/img/LogoIconMain.png" alt="" class="img-fluid"><span> @ViewData["Title"]</span></h6></a>
                @*<h5 class="text-light"><a href="#header"><span>@ViewData["Title"]</span></a></h5>*@
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    @*<li class="drop-down">
                            <a href="#about">About Us</a>
                            <ul>
                                <li><a asp-action="aboutus" asp-controller="Home">Corporate and social</a></li>
                                <li><a asp-action="aboutus" asp-controller="Home">Policy Statement</a></li>
                            </ul>
                        </li>*@
                    <li class="drop-down">
                        <a href="#services">Courses</a>
                        <ul>
                            <li class="drop-down">
                                <a href="#">MicorSoft</a>
                                <ul>
                                    <li><a href="#">MOS 2016/2019</a></li>
                                    <li><a href="#">Office 365 2016/2019</a></li>
                                    <li><a href="#">MCSA Windows Sever 2016</a></li>
                                    <li><a href="#">MCSA SQL Sever 2014/2016</a></li>
                                    <li><a href="#">MCSA Web Application</a></li>
                                    <li><a href="#">Azure Data Scientist Associate</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="#">Oracle</a>
                                <ul>
                                    <li><a href="#">Oracle Cloud Infrastructure</a></li>
                                    <li><a href="#">Oracle Database</a></li>
                                    <li><a href="#">Oracle Enterprise Management</a></li>

                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="#">Cicso</a>
                                <ul>
                                    <li><a href="#">CCNA</a></li>
                                    <li><a href="#">CCNA Cyber Ops</a></li>
                                    <li><a href="#">CCNP Enterprise</a></li>

                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="#">Tableau</a>
                                <ul>
                                    <li><a href="#">Tableau Desktop Training</a></li>
                                    <li><a href="#">Tableau Data Visualization & Machine Learning</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">R-Programing</a></li>

                        </ul>
                    </li>
                    <li><a href="#why-us">Why Us</a></li>
                    <li><a href="#portfolio">Placements</a></li>
                    <li><a href="#businesspartner">Business Partners</a></li>
                    @*<li><a href="#contact">Contact Us</a></li>*@
                    <li><a asp-action="ContactUs" asp-controller="Home">Contact Us</a></li>
                    <li>
                        <a href="#contact">
                            <i class="fa fa-user-circle-o" style="color: #ff689b;" data-toggle="tooltip" data-placement="bottom" title="Login/Register"></i>
                        </a>
                    </li>

                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container">

            <div class="intro-img">
                <img src="/img/intro-img.svg" alt="" class="img-fluid">
            </div>

            <div class="intro-info">
                <h2>We provide<br><span>Courses</span><br>that fit for your career growth!</h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Enquiry</a>
                    <a href="#services" class="btn-services scrollto">Our Courses</a>
                </div>
            </div>

        </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="home">
            <div class="container">

                <header class="section-header">
                    <h3>@ViewData["Title"]</h3>
                    <p>@ViewData["Title"] is a pioneer in IT education with a view to offer a broad portfolio of computer training programs for the corporate as well as the career-oriented youth of the country. Our mission is to make SOUTH AFRICA and Kingdom of ESWATINI (formerly known as Swaziland), a hub for IT talents..</p>
                </header>

                <div class="row home-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        @*<p class="description">
                                3S IT TRAINING AND BUSINESS SOLUTIONS. is a Global Learning Solutions company that commenced its education and training business in 2014 and has trained over 50,000 students worldwide
                                3S IT TRAINING has presence in Republic of South Africa and Kingdom of Eswatini (Formerly Known as Kingdom of Swaziland) emerging countries through its two main streams of businesses - Individual Training and Enterprise Business. As a leader in career education, it has 2 centers of learning.
                                Under Individual Training, 3S IT TRAINING offers career and professional training through its retail brands (Vendor Specific Programs): Microsoft, CISCO, ORACLE, PEOPLECERT, VMWare (IT, Banking & Finance, Hardware & Networking Training).
                                Enterprise business includes 3S IT TRAINING AND BUSINESS SOLUTIONS Assessment & Testing Solutions (Technology based contemporary assessment solutions) & 3S IT TRAINING’s Training Solutions (Customized training for Corporates & Institutions).

                            </p>*@

                        <div class="icon-box wow fadeInUp">
                            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                            <h4 class="title"><a href="">3S IT TRAINING IS A MISSION</a></h4>
                            <p class="description">
                                We will grow in the recognition and respect we command through pioneering and leading in the effective development of technology and know-how
                                we will seek to play a key role in the directions and development of technology and know-how for the benefit of mankind

                                To deliver distinctive education through the pioneering use of technology. To develop superior talent through partnerships with industry and society. To promote research, discovery and entrepreneurship through collaborative action.

                            </p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-photo"></i></div>
                            <h4 class="title"><a href="">3S IT TRAINING VISION</a></h4>
                            <p class="description">
                                Values, Motives and Beliefs
                                we, 3s IT Training believe that our growth is the derivative of the growth of each one of us. it is the duty of each one of us to espouse and give active effect to the values, motives and beliefs we state here

                            </p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">3S IT TRAINING IS QUALITY AND VALUE</a></h4>
                            <p class="description">
                                we will meet any and every commitment made to society irrespective of any cost that may have to be incurred. we will be fair in all our dealings and promote high standards of business ethics. we will ensure our profitability, long-term growth and financial stability, through the process of delivering the best, being seen as the best and being the best.
                            </p>
                        </div>
                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">3S IT TRAINING STRATEGY</a></h4>
                            <p class="description">
                                Transform At The Intersect
                                Our strategy is to transform at the intersect of unparalleled domain expertise and emerging technologies to achieve real-world business impact.

                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                        <img src="img/about-img.svg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="row home-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="img/about-extra-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4>Faculty & Facilities.</h4>
                        <p>
                            The group has an excellent team of faculty for each institution that comes under the group. The team comprises of highly experienced and committed lecturers in all the departments, as well as brilliant technical and library staff.
                        </p>
                        <p>
                            At the institute, we constantly evolve to meet the changing needs and to take advantage of new technologies. The state of art facilities and resources complement teaching by creating best environment for learning. Network & Wi-Fi connectivity in the class rooms, corridors, teaching wings, library enables the students to understand new possibilities and broadens the future in which they are working. The teaching aids includes audio-visual multimedia LCDs, overhead projectors, video projection systems, CDs, DVDs various management related freeware for social sciences and humanities.
                        </p>

                    </div>
                </div>

                <div class="row home-extra">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="img/about-extra-2.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h4>Campus & Computer Lab(s).</h4>
                        <p>
                            The campus maintains highly specialized instructional computing labs with high speed internet access customized and specific for each institution within the group. The labs are monitored continuously by the on-site operators in case any assistance is needed. All the facilities are updated on regular basis. High speed wireless connectivity is also provided. In addition, threat management equipment is also a part of Internet facility.
                        </p>
                        <p>
                            The spacious class rooms/lecture halls provide most conducive environment in the right ambiance for dynamic and focused learning. All class rooms/lecture halls are provided with comfortable seating facilities to enhance the learning experience and are equipped with modern teaching tools and audio-visual aids, to create the right professional environment for the students, irrespective of the course they are in.
                        </p>
                        @*<p>
                                Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
                            </p>*@
                    </div>

                </div>

            </div>
        </section><!-- #home -->
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    @*<p>
                            3S IT TRAINING AND BUSINESS SOLUTIONS. is a Global Learning Solutions company that commenced its education and training business in 2014 and has trained over 50,000 students worldwide
                            3S IT TRAINING has presence in Republic of South Africa and Kingdom of Eswatini (Formerly Known as Kingdom of Swaziland) emerging countries through its two main streams of businesses - Individual Training and Enterprise Business. As a leader in career education, it has 2 centers of learning.
                            Under Individual Training, 3S IT TRAINING offers career and professional training through its retail brands (Vendor Specific Programs): Microsoft, CISCO, ORACLE, PEOPLECERT, VMWare (IT, Banking & Finance, Hardware & Networking Training).
                            Enterprise business includes 3S IT TRAINING AND BUSINESS SOLUTIONS Assessment & Testing Solutions (Technology based contemporary assessment solutions) & 3S IT TRAINING’s Training Solutions (Customized training for Corporates & Institutions).

                        </p>*@
                </header>

                <div class="row home-container">

                    <div class="col-lg-12 col-sm-12 col-md-12 content order-lg-1 order-2">
                        <p>
                            3S IT TRAINING AND BUSINESS SOLUTIONS. is a Global Learning Solutions company that commenced its education and training business in 2014 and has trained over 50,000 students worldwide
                            3S IT TRAINING has presence in Republic of South Africa and Kingdom of Eswatini (Formerly Known as Kingdom of Swaziland) emerging countries through its two main streams of businesses - Individual Training and Enterprise Business. As a leader in career education, it has 2 centers of learning.
                            Under Individual Training, 3S IT TRAINING offers career and professional training through its retail brands (Vendor Specific Programs): Microsoft, CISCO, ORACLE, PEOPLECERT, VMWare (IT, Banking & Finance, Hardware & Networking Training).
                            Enterprise business includes 3S IT TRAINING AND BUSINESS SOLUTIONS Assessment & Testing Solutions (Technology based contemporary assessment solutions) & 3S IT TRAINING’s Training Solutions (Customized training for Corporates & Institutions).

                        </p>
                    </div>
                </div>
                <div class="row home-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        @*<img src="img/about-extra-1.svg" class="img-fluid" alt="">*@
                        <img src="~/img/CSR2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4>Corporate and social responsibility</h4>
                        <p>
                            3S IT TRAINING AND BUSINESS SOLUTIONS believes in giving back to the community.
                            An education & training company, 3S IT TRAINING relies on its core strength to educate those less privileged.

                        </p>
                        <p>
                            3S IT TRAINING provides free-of-cost computer, Basic Computers and related training to underprivileged children and youth at its centers. 3S IT TRAINING endeavors not only to improve knowledge of students but also enhance employability of youth population.
                        </p>
                        <a asp-action="aboutus" asp-controller="Home" class="readmore" style="float:right">Read more </a>
                    </div>
                </div>

                @*<div class="row home-extra">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="~/img/Policy.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h4>Policy Statement</h4>
                        <p>
                            3S IT TRAINING AND BUSINESS SOLUTIONS PTY LTD and its subsidiaries believe that Corporate Social Responsibility is not merely an activity for ensuring South African compliance towards Section 71 of the Companies Act, 2008 along with Companies (Corporate Social Responsibility Policy) Rules 2014, however it’s the responsibility of the company towards the society, by positively impacting the lives of underprivileged.
                        </p>
                        <a asp-action="aboutus" asp-controller="Home" class="readmore" style="float:right">Read more </a>
                    </div>

                </div>*@
            </div>
        </section>
        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Courses</h3>
                    <p>Top Hot Courses 2020 Industry Oriented.Traning provided one and only &#64; 3S IT Training</p>
                </header>

                <div class="row">

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                            <h4 class="title"><a href="">MicroSoft</a></h4>
                            <p class="description">
                                Get certified for Microsoft technology and products. Explore our online developer & computer courses and exams, and take your career to a new level. <br /><br /><br />
                            </p>
                            <a href="#" class="readmore" style="float:right">Read more </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="">Cisco</a></h4>
                            <p class="description">Cisco Certifications help you launch and advance your IT Networking career.Equip yourself with the right information today to face the technology of tomorrow, sign up for Cisco Training at  @ViewData["Title"]</p>
                            <a href="#" class="readmore" style="float:right">Read more </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="">Oracle</a></h4>
                            <p class="description">Gain a competitive advantage in the IT industry. Earn your Oracle Certification from @ViewData["Title"], a leading training and certification company</p>
                            <a href="#" class="readmore" style="float:right">Read more </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                            <h4 class="title"><a href="">TABLEAU Desktop Training</a></h4>
                            <p class="description">Tableau is business intelligence software that helps people see and understand their data.<br /><br /><br /></p>
                            <a href="#" class="readmore" style="float:right">Read more </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                            <h4 class="title"><a href="">Machine Learning with Python</a></h4>
                            <p class="description">
                                Pythone is easy to learn, and it is a stepping stone into other languages and frameworks. Enroll now for the best project based programming language training in  @ViewData["Title"]
                                <br /><br /><br />
                            </p>
                            <a href="#" class="readmore" style="float:right">Read more </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                            <h4 class="title"><a href="">R Programming</a></h4>
                            <p class="description">R Programming A-Z™: R For Data Science With Real Exercises! Data Science and Machine Learning Bootcamp with R. R Programming: Advanced Analytics In R For Data Science. Introduction to Time Series Analysis and Forecasting in R. R Programming for Statistics and Data Science.</p>
                            <a href="#" class="readmore" style="float:right">Read more </a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
          Why Us Section
        ============================-->
        <section id="why-us" class="wow fadeIn">
            <div class="container">
                <header class="section-header">
                    <h3>Why choose us?</h3>
                    <p>We work hard to provide quality education to students.</p>
                </header>

                <div class="row row-eq-height justify-content-center">

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-diamond"></i>
                            <div class="card-body">
                                <h5 class="card-title">Wide Range Courses</h5>
                                <p class="card-text">
                                    We offers hundreds of IT courses to students, engineers, working people & others.
                                    IT career courses for Form 4 Pass/College Students & engineering students, Sun Java, Oracle & Red Hat Linux certification courses as well as short-term courses are offered.
                                </p>
                                <a href="#" class="readmore">Read more </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-language"></i>
                            <div class="card-body">
                                <h5 class="card-title">Contents : Quality Eduation</h5>
                                <p class="card-text">
                                    We Teach in demand courses
                                    We teach most relevant & updated course curriculum. experts in various subjects together to train the students This is done after surveying the trends/ demand in the IT industry
                                </p>
                                <a href="#" class="readmore">Read more </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-object-group"></i>
                            <div class="card-body">
                                <h5 class="card-title">IT Industry </h5>
                                <p class="card-text">
                                    The Information Technology industry is a large industry. Over the past 50 years, IT has shaped the modern world & continues to change it.

                                    These companies take care of the client company’s ‘outsourced’ development & maintenance of software, training, etc.
                                </p>
                                <a href="#" class="readmore">Read more </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">274</span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">421</span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,364</span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">18</span>
                        <p>Hard Workers</p>
                    </div>

                </div>

            </div>
        </section>

        <!--==========================
          Portfolio Section
        ============================-->

        <section id="portfolio" class="clearfix">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Placement</h3>
                </header>

                @*<div class="row">
                        <div class="col-lg-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-app">App</li>
                                <li data-filter=".filter-card">Card</li>
                                <li data-filter=".filter-web">Web</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row portfolio-container">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">App 1</a></h4>
                                    <p>App</p>
                                    <div>
                                        <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">Web 3</a></h4>
                                    <p>Web</p>
                                    <div>
                                        <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">App 2</a></h4>
                                    <p>App</p>
                                    <div>
                                        <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">Card 2</a></h4>
                                    <p>Card</p>
                                    <div>
                                        <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">Web 2</a></h4>
                                    <p>Web</p>
                                    <div>
                                        <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">App 3</a></h4>
                                    <p>App</p>
                                    <div>
                                        <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">Card 1</a></h4>
                                    <p>Card</p>
                                    <div>
                                        <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">Card 3</a></h4>
                                    <p>Card</p>
                                    <div>
                                        <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="#">Web 1</a></h4>
                                    <p>Web</p>
                                    <div>
                                        <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>*@

            </div>
        </section>

        <!-- #portfolio -->
        <!--==========================
          Business Partner Section
        ============================-->
        <section id="businesspartner">

            <div class="container">

                <div class="section-header">
                    <h3>Business Partners</h3>
                    <p>Business and corporate partners are important in bringing the Operation Warm mission to life. We are grateful for the support of businesses of every size – from local businesses to Fortune 500 companies.</p>
                </div>

                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="businesspartner-logo">
                            <a href="https://arnikainfotech.com" target="_blank"><img src="~/img/businesspartner/Arnika3.png" class="img-fluid" alt="Arnika Technologies"></a>
                        </div>
                    </div>

                    @*<div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-2.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-3.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-4.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-5.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-6.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-7.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="businesspartner-logo">
                                <img src="img/clients/client-8.png" class="img-fluid" alt="">
                            </div>
                        </div>*@

                </div>

            </div>

        </section>

        <!-- #portfolio -->
        @*<section id="testimonials" class="section-bg">
                <div class="container">

                    <header class="section-header">
                        <h3>Testimonials</h3>
                    </header>

                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <div class="owl-carousel testimonials-carousel wow fadeInUp">

                                <div class="testimonial-item">
                                    <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                                    <h3>Saul Goodman</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                    <p>
                                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                    </p>
                                </div>

                                <div class="testimonial-item">
                                    <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                                    <h3>Sara Wilsson</h3>
                                    <h4>Designer</h4>
                                    <p>
                                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                    </p>
                                </div>

                                <div class="testimonial-item">
                                    <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                                    <h3>Jena Karlis</h3>
                                    <h4>Store Owner</h4>
                                    <p>
                                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    </p>
                                </div>

                                <div class="testimonial-item">
                                    <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                                    <h3>Matt Brandon</h3>
                                    <h4>Freelancer</h4>
                                    <p>
                                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                    </p>
                                </div>

                                <div class="testimonial-item">
                                    <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                                    <h3>John Larson</h3>
                                    <h4>Entrepreneur</h4>
                                    <p>
                                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </section>*@

        <!-- #testimonials -->
        <!--==========================
          Team Section
        ============================-->
        <!-- #team -->
        <!--==========================
          Clients Section
        ============================-->
        <section id="clients" class="section-bg">

            <div class="container">

                <div class="section-header">
                    <h3>Our CLients</h3>
                    <p>List of Clients</p>
                </div>

                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="img/clients/clientLogo.png" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>

        </section>



    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-info">
                        <a a asp-action="Index" asp-controller="Home" asp-fragment="intro" class="scrollto"> <h4 class="text-light"><img src="~/img/LogoIconMain.png" alt="" class="img-fluid" width="32" height="32"><span> &nbsp;@ViewData["Title"]</span></h4></a>
                        <p>@ViewData["Title"] is a pioneer in IT education with a view to offer a broad portfolio of computer training programs for the corporate as well as the career-oriented youth of the country. Our mission is to make SOUTH AFRICA and Kingdom of ESWATINI (formerly known as Swaziland), a hub for IT talents..</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a asp-action="Index" asp-controller="ContactUs">Contact Us</a></li>

                        </ul>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Subscribe to our newsletter!</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                        <p>You’ll get an email about once a week. We’ll never share your address.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy;Copyright @DateTime.Now.Year - <strong>@ViewData["Title"]</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
                -->
                Developed by <a href="https://arnikainfotech.com/" target="_blank">Arnika Technologies</a>
                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->
    @*<environment include="Development">*@
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    @*<script src="contactform/contactform.js"></script>*@

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @*</environment>*@
</body>
</html>
